.container {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: white;
    border-bottom: 1px solid silver;
    margin-bottom: 1rem;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarOptionsContainer {
    display: flex;
}

.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
     
    font-size: 1.4rem;
    background-color: #cd9897;
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}